/* Base Styles */

body {
    background-color: var(--bg-color);
    background-image:
        radial-gradient(circle at 15% 50%, rgba(145, 70, 255, 0.08), transparent 25%),
        radial-gradient(circle at 85% 30%, rgba(255, 0, 212, 0.08), transparent 25%);
    color: var(--text-color);
    font-family: var(--font-main);
    font-weight: 500;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}