/* Variables */
:root {
    --bg-color: #0a0a12;
    --text-color: #e0e0e0;
    --primary-glow: #9146FF;
    --secondary-glow: #ff00d4;
    --glass-bg: rgba(255, 255, 255, 0.03);
    --glass-border: rgba(255, 255, 255, 0.08);
    --card-radius: 16px;
    --font-main: 'Manrope', sans-serif;
}